<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

</body>
</html>
@model LocadoraFilmes.Web.Models.Locacao

<h2>Deletar Locação</h2>

<h3>Tem certeza de que deseja deletar esta locação?</h3>
<div>
    <h4>Locação</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Cliente.Nome)</dt>
        <dd>@Html.DisplayFor(model => model.Cliente.Nome)</dd>

        <dt>@Html.DisplayNameFor(model => model.Filme.Titulo)</dt>
        <dd>@Html.DisplayFor(model => model.Filme.Titulo)</dd>

        <dt>@Html.DisplayNameFor(model => model.DataLocacao)</dt>
        <dd>@Html.DisplayFor(model => model.DataLocacao.ToShortDateString())</dd>

        <dt>@Html.DisplayNameFor(model => model.DataDevolucao.ToShortDateString())</dd>
    </dl>

    @using (Html.BeginForm("Delete", "Locacao", new { id = Model.LocacaoId }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Deletar" class="btn btn-danger" /> |
                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    }
    }
</div>